<div id="<%= dom_id brand %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= brand.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tone of voice:</strong>
    <%= brand.tone_of_voice %>
  </div>
</div>
